<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a  routerLink="/inicio" routerLinkActive="active" class="navbar-brand mb-0 h1">Asesorías matemáticas</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/05" routerLinkActive="active" class="nav-link">05. Leyes de los exponentes y multiplicación de plinomios</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/06" routerLinkActive="active" class="nav-link">06. Productos notables y factorización</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/07" routerLinkActive="active" class="nav-link">07. Despejes, ecuaciones y sistemas de ecuaciones lineales</a>
                </li>
            </ul>
        </div>
    </div>

</nav>